@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

.nav-container h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 25pt;

}

hr {
    width: 80%;
    margin: 0 auto;
}

.nav-container h1 a {
    text-decoration: none;
    color: black;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin: 20px 10% 0px 10%;


}

.nav-container ul {
    list-style: none;
    display: flex;

}

.nav-container ul a {
    text-decoration: none;
    color: black;
}

.nav-container ul li {

    margin: 5px 15px;
    font-size: 14pt;
    padding: 15px 30px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 70px;


}

.nav-container ul li:hover {
    background-color: black;
    transition: 0.3s;
    font-weight: 450;
    color: white;
}

.git-icon {
    width: 70px;
    height: auto;
    object-fit: contain;
}

.header {
    margin: 10% 5%;
    display: flex;
    justify-content: space-around
}

.header p:first-child {
    font-size: 18pt;
    margin-bottom: -16px;
}

.header h1 {
    font-size: 50pt;
}

.header p:last-child {
    font-size: 15pt;

}

.header img {
    width: 25%;
    border-radius: 100%;
    margin-top: -3%;
    height: 40vh;
    object-fit: cover;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.151);
    rotate: initial ;
}

h4 {
    margin-top: 300px;
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 20px;
}

h4 a {
    color: black;
}

h4 a:hover {
    color: rgba(0, 0, 0, 0.658);
}

.projetos {
    display: flex;


}

.projetos a {
    color: black;
}

.projetos {
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;


}

.projetos div {
    margin: 10px 40px 0px 0px;
    padding: 20px;
    
    border-radius: 30px;
    

}

.projetos div img {
    margin-left: 0px;
    margin-top: 20px;
    width: 25vw;
    object-fit: contain;
    border-radius: 3%;


}

.img-moderno-movies {
    box-shadow: 0px 0px 50px rgba(20, 20, 20, 0.719);
}

.projetos div img:hover {
    width: 26vw;
    transition: 0.5s;
}

.img-zennor {
    box-shadow: 0px 0px 20px rgba(99, 135, 139, 0.877);
}

.img-etec-redes-1 {
    box-shadow: 0px 0px 20px rgba(89, 111, 184, 0.719);
}

.img-site-senai-01 {
    box-shadow: 0px 0px 20px rgba(92, 105, 93, 0.719);
}




.projetos div p {
    text-align: center;
    color: rgb(15, 15, 15);
    font-size: 15pt;

}

.projetos div a {
    text-align: center;
    color: rgb(66, 64, 167);
    font-size: 15pt;
    text-decoration: none;
}

.projetos div a:hover {
    color: rgba(66, 64, 167, 0.699);
}



.learn-container h3 {
    margin-left: 3%;
    font-size: 17pt;
    margin-top: 1%;
}

.cards {
    display: flex;
    justify-content: center;
    



}

.cards div {
    border: 0px solid rgba(0, 0, 0, 0.397);
    width: 25%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(121, 108, 108, 0.274);
    background-color: rgb(252, 251, 251);
    color: rgb(0, 0, 0);
    
}



.cards img {
    width: 25%;
    margin-left: 38%;
    background-color: white;
    padding: 10px;
    border-radius: 100%;

}


.cards p {
    width: 100%;
    text-align: center;
    font-size: 12pt;
    font-weight: 300;
}

.cards p:nth-child(2) {
    text-align: center;
    font-size: 15pt;
    font-weight: 900;
    text-decoration: underline;
}

.midias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10%;
    
    
}
.midias img {
    width: 35%;
}
.midias p {
    font-size: 29pt;
    font-weight: 200;
    margin-right: 25%;
    margin-top: 6%;
    text-decoration: underline;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: -17%;
    margin-left: 15%;
}


@media (max-width: 800px) {
    .nav-container h1 {
        font-family: 'Poppins';
        font-weight: 300;
        font-size: 22pt;
    
    }

    .nav-container ul {
        display: none;
    }
    .header {
        
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin-bottom: -220px;
        
        
    }
    
    .header p:first-child {
        font-size: 11pt;
        margin-bottom: -16px;
        text-align: center;
    }
    
    .header h1 {
        font-size: 30pt;
        line-height: 60px;
        text-align: center;
        
    }
    
    br {
        display: none;
    }
    .header p:last-child {
        font-size: 11pt;
        text-align: center;
        
    
    }
    
    .header img {
        width: 55%;
        border-radius: 100%;
        margin-top: -3%;
        height: 30vh;
        object-fit: cover;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.151);
        margin: 0 auto;
        margin-bottom: 10px;
    } 
    .projetos a {
        color: black;
    }
    
    .projetos {
        display: flex;
        border-radius: 10px;
        justify-content: center;
    }
    
    .projetos div {
        margin: 0 auto;
    }
    
    .projetos div img {
        
        width: 250px;
        object-fit: contain;
        border-radius: 3%;
        margin: 0 auto;
        
    }

    /* Estou Aprendendo + Cards */

    .learn-container h3 {
      text-align: center;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cards div {
        width: 90%;
        
    }

    /* Midias Sociais */

    .midias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
        
    }
    .midias img {
        width: 100%;
    }
    .midias p {
        font-size: 21pt;
        width: 100%;
        font-weight: 200;
        margin-right: 25%;
        text-align: center;
        text-decoration: none;
    }
    
    .wrapper {
        margin-bottom: 10px;
       margin-left: -5%;
        margin-top: 10px;
        
    }
    
    
}